.popup {
    background-color: var(--modal-bg-color);
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
    position: absolute;
    top: 50%; /* Смещение сверху на 50% высоты родителя */
    left: 50%; /* Смещение слева на 50% ширины родителя */
    transform: translate(-50%, -50%); /* Смещение назад на половину собственной ширины и высоты */
}

.popupClose:hover {
    color: var(--second-color);
}

.formGroup {
    margin-bottom: 15px;
}

.formControl {
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 2px solid var(--second-color);
    border-radius: 4px;
}

.formGroup label {
    color: var(--label-color);
    font-size: var(--label-font-size);
    margin-bottom: var(--label-margin-bottom);
}
